#mbl {
  /* 100% width will work for mobile menu, 300px for example */
  width: 100%;
  font-size: 16px;
}
#mbl label {
  display: block;
  padding: 15px 20px;
  margin: 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
  color: #b0cfe4;
  background: var(--blue);
  font-size: 24px;
}
#mbl span.fa {
    color: rgba(255, 255, 255, 0.7);
    font-size: 32px;
    float: right;
}
#mbl span.fa:hover {
  color: rgba(255, 255, 255, 0.5);
}
#mbl input {
  display: none;
}
#mbl input:checked ~ article {
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  height: 145px;
}
#mbl article {
  margin-top: -1px;
  overflow: hidden;
  height: 0px;
  position: relative;
  z-index: 0;
  -webkit-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
}
#mbl article ul {
  background: var(--dark-blue);
  height: 100%;
  margin: 0;
  padding:0;
  list-style: none;
}
#mbl article ul li {
  padding: 14px;
  padding-left: 25px;
  border-top: 2px solid var(--blue);
}
#mbl article ul li:first-child {
  padding-top: 16px;
  border-top: 0;
}
#mbl article ul li:hover {
  background: var(--light-blue);
}
#mbl article ul li a {
  color: var(--white);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

#mblBtm {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 5px;
  overflow: hidden;
  background: var(--blue);
}